services:
  api:
    build:
      context: .
      target: development
    volumes:
      - ./:/app
      - /app/node_modules
      - ./uploads:/uploads
      - ./uploads/tmp:/uploads/tmp
    ports:
      - "3333:3333"
    env_file:
      - .env
    logging:
      driver: local
      options:
        max-size: '20m'
        max-file: '5'
    restart: unless-stopped    
    stop_grace_period: 10s
